.brown-text {
  color: #964B00; /* Use a brown color code here */
}
.green-text {
  color: #008000;
}
.blue-text {
  color: #0000FF;
}
.red-text {
  color: #FF0000;
}
.pink-text {
  color: #FF69B4;
}
.yellow-text {
  color: #FFFF00;
}