{% extends "Questionnaires/layout.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block scripts %}
    {% load static %}
    {{ form.media.css }}
    {{ form.media.js }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
{% block body %}
    <form action="{% url 'get_report' %}" method="post" class="container">
        {% crispy form %}

        <input type="submit" value="Zobraziť" class="btn btn-primary" id="submit-id-submit">
    </form>

    <br>
    {% for ex in exam %}
        {% if forloop.first %}
            <table class="table">
            <thead>
            <tr class="table-dark">
                <th class="rounded-start">Meno</th>
                <th>Rok narodenia</th>
                <th>Dátum</th>
                <th>Test</th>
                <th class="rounded-end"></th>
            </tr>
            </thead>

        {% endif %}
    {% for resp in ex.exam_responses.all %}
        {% if forloop.first %}
            <tr>
                <td>{{ resp.patient.last_name }} {{ resp.patient.first_name }}</td>
                <td>{{ resp.patient.identifier }}</td>
                <td>{{ ex.created_at.date|date:"j.n.Y" }}</td>
                <td>{{ resp.questionnaire }}</td>
                <td><a href="{% url 'show_report' ex.id %}"><i class="fa-solid fa-arrow-right-long"></i></a></td>
            </tr>
        {% endif %}
    {% endfor %}
    {% if forloop.last %}
        </table>
    {% endif %}
    {% endfor %}

{% endblock %}