{% extends "Questionnaires/layout.html" %}
{% block body %}
    {% if current_time.hour < 9 %}
        <h3>Dobré ráno, {{ request.user.first_name }}, vitajte na stranke dotazníkov pre neurológiu!</h3>
    {% elif current_time.hour < 18 %}
        <h3>Dobrý deň, {{ request.user.first_name }}, vitajte na stranke dotazníkov pre neurológiu!</h3>
    {% else %}
        <h3>Dobrý večer, {{ request.user.first_name }}, vitajte na stranke dotazníkov pre neurológiu!</h3>
    {% endif %}
    <br/>
        {% for ex in exam %}
        {% if forloop.first %}
            <table class="table">

            <thead>
            <tr class="table-dark">
                <th class="rounded-start">Meno</th>
                <th>Rok narodenia</th>
                <th>Dátum</th>
                <th>Test</th>
                <th class="rounded-end"></th>
            </tr>
            </thead>

        {% endif %}
    {% for resp in ex.exam_responses.all %}
        {% if forloop.first %}
            <tr>
                <td>{{ resp.patient.last_name }} {{ resp.patient.first_name }}</td>
                <td>{{ resp.patient.identifier }}</td>
                <td>{{ ex.created_at.date|date:"j.n.Y" }}</td>
                <td>{{ resp.questionnaire }}</td>
                <td><a href="{% url 'show_report' ex.id %}"><i class="fa-solid fa-arrow-right-long"></i></a></td>
            </tr>
            {#                <a href="{% url 'show_report' ex.id %}">Vyšetrenie zo dňa {{ ex.created_at.date }} -#}
            {#                    dotazník {{ resp.questionnaire }}</a><br>#}
        {% endif %}
    {% endfor %}
    {% if forloop.last %}
        </table>
    {% endif %}
    {% endfor %}
    {{ message }}

{% endblock %}