{% extends "Questionnaires/layout.html" %}


{% block body %}
    <strong>Vyšetrenie:</strong> {{ exam }}<br/>
    <strong>Zo dňa:</strong> {{ exam.created_at.date }}<br/>
    <strong>Pacient:</strong> {{ exam.patient }}<br/>
    <strong>Dotazník:</strong> {{ exam.exam_responses.first.questionnaire }}<br/><br/>

    <hr>    <strong>{{ result | safe }}</strong><br/>
    <hr><br/>



    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTable"
                aria-expanded="false" aria-controls="collapseTable">
            Zobraziť detail
        </button>
    </p>
    <div class="collapse" id="collapseTable">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Otázka</th>
                <th scope="col">Odpoveď</th>
                <th scope="col">Počet bodov</th>
            </tr>
            </thead>
            <tbody>
            {% for resp in exam.exam_responses.all %}
                <tr>
                    <td>{{ resp.question }}</td>
                    <td>{{ resp.choice.text }}</td>
                    <td>{{ resp.choice.points }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}
